<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ include file="GenericTypes.t4" #>
<#@ output extension=".generated.cs" #>
using System;
using libargument.Conversion;

namespace libargument
{
	public abstract partial class Controller
	{
		private void registerDefaultConverter()
		{
<#
			foreach (var type in Types())
			{
#>
				RegisterTypeConverter<<#= type.Name #>>(new <#= type.Name #>Converter());
<#
			}
#>

		}
	}
}
